<h1>Welcomes#index</h1>
<p>Find me in app/views/welcomes/index.html.erb</p>
<div>
<% i = 0 %>
<% while i < @ilosc %>
    <p><%= @komunikat %></p>
    <% i += 1 %>
<% end %>
<% i = 0 %>
<% while i < @tablica.length() %>
    <p>@tablica[<%= i %>] = <%= @tablica[i] %></p>
    <% i += 1 %>
<% end %>
<% for key in @hash.keys() %>
    <p>@hash[<%= key %>] = <%= @hash[key] %></p>
<% end %>
</div>